*
!/**/
!*.*
!makefile
!*/*/makefile
!*/*/Makefile
!LICENSE

out/
solvers/acoustics/third_party/
.claude/settings.local.json
.hdf5cfg-*
*.h5
*.xdmf
*.o
*.a
.DS_STORE
*.vtu
*.dat
*.txt
*.eps
*.png
*.pdf
*.log
*.bmp
*.swp
*.orig
*.out
*.msh

**/*.o
**/*.c~
*.m~
*.nvprof
test/__pycache__
test/*.rc

!test/squareTri.msh
!test/squareQuad.msh
!test/cubeTet.msh
!test/cubeHex.msh

!solvers/acoustics/data/*.dat

.vimrc
.occa/
