[FORMAT]
2.0

[DATA FILE]
data/acousticsRoom3D.h

[MESH FILE]
BOX

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
6

[BOX NX]
2

[BOX NY]
2

[BOX NZ]
2

[BOX BOUNDARY FLAG]
2

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
LSERK4

[START TIME]
0

[FINAL TIME]
0.05

[CFL NUMBER]
1.0

[DENSITY]
1.2

[SPEED OF SOUND]
343.0

[FREQINDEP IMPEDANCE]
415.0

[OUTPUT INTERVAL]
0.01

[OUTPUT TO FILE]
FALSE

[OUTPUT FILE NAME]
acousticsRoom
